@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,body, heading */
@layer base{
  body{

    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600
  }
  body{
    overflow-x: hidden
  }
  header{
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6
  }
}

/* custom className */
@layer components {
  .headerLink {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[,4s] hover:text-[#b3b3b3];
  }
  .bannerButton{
    @apply cursor-pointer flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:px-8 md:text-xl
  }
  .input{
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545]
  }
  .modelBottom{
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10
  }
  .accordian{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordian li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordian li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 800;
    background: #303030;
 margin-bottom: 2px;
 cursor: pointer;
 position: relative;

}
.checked::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    font-weight: 800;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordian .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.5s, padding 0.5s;
}
.accordian input[type="radio"]:checked +label+.content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordian input[type="radio"]:checked +label::after{
    transform: rotate(135deg);
}


footer{
  padding: 10px 20%;
}
footer h4{
  font-weight: lighter;
  color: rgba(255,255,255,0.7);
  margin-bottom: 25px;
  
}
footer h4 a{
  color: rgba(255,255,255,0.7);
}
.footer{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.list ul li{
list-style: none;
font-size: 15px;
padding-bottom: 10px;   
}
.list ul li a{
  color: rgba(255,255,255,0.7);
}

.text{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.netflix{
  color: rgba(255,255,255,0.7);
  padding-bottom: 100px;
}
.language-btn{
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid white;
  padding: 7px 10px;
}
.language-btn img{
  width: 10px;
  margin-left:10px ;
}

}

